# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/chap2/node_modules
/chap3/node_modules
/chap5/node_modules
/chap2/.pnp
/chap3/.pnp
/chap5/.pnp
.pnp.js

# testing
/chap2/coverage
/chap3/coverage
/chap5/coverage

# production
/chap2/build
/chap3/build
/chap5/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#JetBrains
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
